node-red-flow-remote-configuration-manager.json
[
    {
        "id": "f165e07e5bc73094",
        "type": "http request",
        "z": "9127257aec25aaea",
        "name": "Get current flow",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/flows",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 680,
        "y": 220,
        "wires": [
            [
                "89e19dc067f62d70"
            ]
        ]
    },
    {
        "id": "89e19dc067f62d70",
        "type": "function",
        "z": "9127257aec25aaea",
        "name": "Crawl flow for matching sensor Devices and set desired properties",
        "func": "msg.payload = JSON.parse(msg.payload);\nlet desired_configs = global.get(\"ncd_desired_configs\");\nfor(const [key, value] of Object.entries(desired_configs)){\n    let match = msg.payload.find(element => element.addr === key);\n    for(const [subkey, subvalue] of Object.entries(value.desired_configs)){\n        match[subkey] = subvalue;\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 220,
        "wires": [
            [
                "b3d7e544d1ba30df",
                "0abcf6d188380640"
            ]
        ]
    },
    {
        "id": "425d978a9dd8d4a9",
        "type": "ncd-wireless-node",
        "z": "9127257aec25aaea",
        "name": "",
        "connection": "7426da7c2dd7d0d0",
        "config_comm": "7426da7c2dd7d0d0",
        "addr": "00:13:a2:00:41:f0:42:b4",
        "sensor_type": "80",
        "auto_config": true,
        "on_the_fly_enable": true,
        "node_id_delay_active": true,
        "node_id": 0,
        "delay": "0",
        "form_network": "",
        "destination_active": "",
        "destination": "0000FFFF",
        "power_active": "",
        "power": 4,
        "retries_active": "",
        "retries": 10,
        "pan_id_active": "",
        "pan_id": "7FFF",
        "change_enabled": "",
        "change_pr": "0",
        "change_interval": "0",
        "cm_calibration": "60.6",
        "bp_altitude": "0",
        "bp_pressure": "0",
        "bp_temp_prec": "0",
        "bp_press_prec": "0",
        "amgt_accel": "0",
        "amgt_mag": "0",
        "amgt_gyro": "0",
        "impact_accel": "0",
        "impact_data_rate": "4",
        "impact_threshold": 25,
        "impact_duration": 1,
        "activ_interr_x": 1,
        "activ_interr_y": 2,
        "activ_interr_z": 4,
        "activ_interr_op": 8,
        "force_calibration_co2_auto_config": "",
        "force_calibration_co2": 400,
        "filtering": 0,
        "data_rate": 5,
        "time_series": 0,
        "reading_type": 1,
        "mode_80_active": "",
        "mode_80": 0,
        "measurement_mode_80_active": "",
        "measurement_mode_80": 0,
        "on_request_timeout_80_active": "",
        "on_request_timeout_80": 1,
        "sensor_boot_time_420ma_active": "",
        "sensor_boot_time_420ma": 0,
        "deadband_80_active": "",
        "deadband_80": 0,
        "filter_80_active": "",
        "filter_80": 0,
        "output_data_rate_p1_81_active": "",
        "output_data_rate_p1_81": 0,
        "output_data_rate_p2_81_active": "",
        "output_data_rate_p2_81": 0,
        "sampling_duration_p1_81_active": "",
        "sampling_duration_p1_81": 0,
        "sampling_duration_p2_81_active": "",
        "sampling_duration_p2_81": 0,
        "led_alert_mode_84_active": "",
        "led_alert_mode_84": 0,
        "led_accelerometer_threshold_84_active": "",
        "led_accelerometer_threshold_84": "",
        "led_velocity_threshold_84_active": "",
        "led_velocity_threshold_84": "",
        "acceleration_interrupt_threshold_84_active": "",
        "acceleration_interrupt_threshold_84": "",
        "set_rtc_101": 0,
        "current_calibration_82": "",
        "current_calibration_82_active": false,
        "current_calibration_c1_80": 178,
        "current_calibration_c1_80_active": "",
        "current_calibration_c2_80": 178,
        "current_calibration_c2_80_active": "",
        "current_calibration_c3_80": 178,
        "current_calibration_c3_80_active": "",
        "output_data_rate_101_active": 1,
        "output_data_rate_101": 10,
        "output_data_rate_101_m2_active": "",
        "output_data_rate_101_m2": 0,
        "sampling_duration_101_active": "",
        "sampling_duration_101": 1,
        "sampling_interval_101_active": "",
        "sampling_interval_101": 1,
        "full_scale_range_101_active": "",
        "full_scale_range_101": 1,
        "full_scale_range_101_m2_active": "",
        "full_scale_range_101_m2": 1,
        "x_axis_101": "",
        "y_axis_101": "",
        "z_axis_101": "",
        "low_pass_filter_80_active": "",
        "low_pass_filter_80": 0,
        "high_pass_filter_80_active": "",
        "high_pass_filter_80": 0,
        "low_pass_filter_81_p2_active": "",
        "low_pass_filter_81_p2": 0,
        "high_pass_filter_81_p2_active": "",
        "high_pass_filter_81_p2": 0,
        "roll_angle_threshold_47": 0,
        "roll_angle_threshold_47_active": "",
        "pitch_angle_threshold_47": 0,
        "pitch_angle_threshold_47_active": "",
        "payload_length_80_active": "",
        "payload_length_80": 3,
        "x": 210,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "a777bc12f7aa77f0",
        "type": "function",
        "z": "9127257aec25aaea",
        "name": "Set global variable",
        "func": "global.set(\"ncd_desired_configs\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 220,
        "wires": [
            [
                "f165e07e5bc73094"
            ]
        ]
    },
    {
        "id": "b3d7e544d1ba30df",
        "type": "debug",
        "z": "9127257aec25aaea",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 280,
        "wires": []
    },
    {
        "id": "0abcf6d188380640",
        "type": "http request",
        "z": "9127257aec25aaea",
        "name": "Update flow",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/flows",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1450,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "c92170dc58c471e2",
        "type": "comment",
        "z": "9127257aec25aaea",
        "name": "These inject nodes can be swapped out for an MQTT subscribe node",
        "info": "",
        "x": 290,
        "y": 80,
        "wires": []
    },
    {
        "id": "bdc6982ae208583a",
        "type": "comment",
        "z": "9127257aec25aaea",
        "name": "Double Click this node to see Desired Configs JSON Prettified",
        "info": "{\n\t\"00:13:a2:00:41:f0:42:b4\": {\n\t\t\"desired_configs\": {\n\t\t\t\"auto_config\": true,\n\t\t\t\"on_the_fly_enable\": true,\n\t\t\t\"output_data_rate_101_active\": 1,\n\t\t\t\"output_data_rate_101\": 10\n\t\t}\n\t}\n}",
        "x": 600,
        "y": 120,
        "wires": []
    },
    {
        "id": "1c387c925ce09e15",
        "type": "ncd-gateway-node",
        "z": "9127257aec25aaea",
        "name": "",
        "connection": "7426da7c2dd7d0d0",
        "unknown_devices": 0,
        "outputs": 1,
        "x": 190,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "cd7956a7f56a43cf",
        "type": "debug",
        "z": "9127257aec25aaea",
        "name": "debug 27",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 160,
        "wires": []
    },
    {
        "id": "402b28d50b13d727",
        "type": "mqtt in",
        "z": "9127257aec25aaea",
        "name": "",
        "topic": "/gatewaymac/flow/post",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 220,
        "wires": [
            [
                "cd7956a7f56a43cf",
                "a777bc12f7aa77f0"
            ]
        ]
    },
    {
        "id": "44f9df7b2c437f76",
        "type": "ncd-wireless-node",
        "z": "9127257aec25aaea",
        "name": "",
        "connection": "7426da7c2dd7d0d0",
        "config_comm": "7426da7c2dd7d0d0",
        "addr": "00:13:a2:00:41:f0:42:b3",
        "sensor_type": "80",
        "auto_config": true,
        "on_the_fly_enable": true,
        "node_id_delay_active": true,
        "node_id": 0,
        "delay": "0",
        "form_network": "",
        "destination_active": "",
        "destination": "0000FFFF",
        "power_active": "",
        "power": 4,
        "retries_active": "",
        "retries": 10,
        "pan_id_active": "",
        "pan_id": "7FFF",
        "change_enabled": "",
        "change_pr": "0",
        "change_interval": "0",
        "cm_calibration": "60.6",
        "bp_altitude": "0",
        "bp_pressure": "0",
        "bp_temp_prec": "0",
        "bp_press_prec": "0",
        "amgt_accel": "0",
        "amgt_mag": "0",
        "amgt_gyro": "0",
        "impact_accel": "0",
        "impact_data_rate": "4",
        "impact_threshold": 25,
        "impact_duration": 1,
        "activ_interr_x": 1,
        "activ_interr_y": 2,
        "activ_interr_z": 4,
        "activ_interr_op": 8,
        "force_calibration_co2_auto_config": "",
        "force_calibration_co2": 400,
        "filtering": 0,
        "data_rate": 5,
        "time_series": 0,
        "reading_type": 1,
        "mode_80_active": "",
        "mode_80": 0,
        "measurement_mode_80_active": "",
        "measurement_mode_80": 0,
        "on_request_timeout_80_active": "",
        "on_request_timeout_80": 1,
        "sensor_boot_time_420ma_active": "",
        "sensor_boot_time_420ma": 0,
        "deadband_80_active": "",
        "deadband_80": 0,
        "filter_80_active": "",
        "filter_80": 0,
        "output_data_rate_p1_81_active": "",
        "output_data_rate_p1_81": 0,
        "output_data_rate_p2_81_active": "",
        "output_data_rate_p2_81": 0,
        "sampling_duration_p1_81_active": "",
        "sampling_duration_p1_81": 0,
        "sampling_duration_p2_81_active": "",
        "sampling_duration_p2_81": 0,
        "led_alert_mode_84_active": "",
        "led_alert_mode_84": 0,
        "led_accelerometer_threshold_84_active": "",
        "led_accelerometer_threshold_84": "",
        "led_velocity_threshold_84_active": "",
        "led_velocity_threshold_84": "",
        "acceleration_interrupt_threshold_84_active": "",
        "acceleration_interrupt_threshold_84": "",
        "set_rtc_101": 0,
        "current_calibration_82": "",
        "current_calibration_82_active": false,
        "current_calibration_c1_80": 178,
        "current_calibration_c1_80_active": "",
        "current_calibration_c2_80": 178,
        "current_calibration_c2_80_active": "",
        "current_calibration_c3_80": 178,
        "current_calibration_c3_80_active": "",
        "output_data_rate_101_active": 1,
        "output_data_rate_101": 10,
        "output_data_rate_101_m2_active": "",
        "output_data_rate_101_m2": 0,
        "sampling_duration_101_active": "",
        "sampling_duration_101": 1,
        "sampling_interval_101_active": "",
        "sampling_interval_101": 1,
        "full_scale_range_101_active": "",
        "full_scale_range_101": 1,
        "full_scale_range_101_m2_active": "",
        "full_scale_range_101_m2": 1,
        "x_axis_101": "",
        "y_axis_101": "",
        "z_axis_101": "",
        "low_pass_filter_80_active": "",
        "low_pass_filter_80": 0,
        "high_pass_filter_80_active": "",
        "high_pass_filter_80": 0,
        "low_pass_filter_81_p2_active": "",
        "low_pass_filter_81_p2": 0,
        "high_pass_filter_81_p2_active": "",
        "high_pass_filter_81_p2": 0,
        "roll_angle_threshold_47": 0,
        "roll_angle_threshold_47_active": "",
        "pitch_angle_threshold_47": 0,
        "pitch_angle_threshold_47_active": "",
        "counter_threshold_35": "50",
        "counter_threshold_35_active": false,
        "payload_length_80_active": "",
        "payload_length_80": 3,
        "x": 210,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "47e7cf2776803349",
        "type": "inject",
        "z": "9127257aec25aaea",
        "name": "Enable Configs + Set ODR",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Test conf",
        "payload": "{ \t\"00:13:a2:00:41:f0:42:b4\": { \t\t\"desired_configs\": { \t\t\t\"auto_config\": true, \t\t\t\"on_the_fly_enable\": true, \t\t\t\"output_data_rate_101_active\": 1, \t\t\t\"output_data_rate_101\": 10 \t\t} \t}, \t  \t\"00:13:a2:00:41:f0:42:b3\": { \t\t\"desired_configs\": { \t\t\t\"auto_config\": true, \t\t\t\"on_the_fly_enable\": true, \t\t\t\"output_data_rate_101_active\": 1, \t\t\t\"output_data_rate_101\": 10 \t\t} \t} }",
        "payloadType": "json",
        "x": 170,
        "y": 640,
        "wires": [
            [
                "407f2ff73a855575"
            ]
        ]
    },
    {
        "id": "407f2ff73a855575",
        "type": "mqtt out",
        "z": "9127257aec25aaea",
        "name": "",
        "topic": "/gatewaymac/flow/sensor/all/config",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 500,
        "y": 660,
        "wires": []
    },
    {
        "id": "7c625c381a0fc130",
        "type": "inject",
        "z": "9127257aec25aaea",
        "name": "Disable Configs",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Test conf",
        "payload": "{   \"00:13:a2:00:41:f0:42:b4\": {     \"desired_configs\": {       \"auto_config\": false,       \"on_the_fly_enable\": false     }   },   \"00:13:a2:00:41:f0:42:b3\": {     \"desired_configs\": {       \"auto_config\": false,       \"on_the_fly_enable\": false     }   } }",
        "payloadType": "json",
        "x": 200,
        "y": 680,
        "wires": [
            [
                "407f2ff73a855575"
            ]
        ]
    },
    {
        "id": "f8afd9a3844523bc",
        "type": "inject",
        "z": "9127257aec25aaea",
        "name": "Enable Configs + Set ODR",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Test conf",
        "payload": "{ \t\"00:13:a2:00:41:f0:42:b4\": { \t\t\"desired_configs\": { \t\t\t\"auto_config\": true, \t\t\t\"on_the_fly_enable\": true, \t\t\t\"output_data_rate_101_active\": 1, \t\t\t\"output_data_rate_101\": 10 \t\t} \t}, \t  \t\"00:13:a2:00:41:f0:42:b3\": { \t\t\"desired_configs\": { \t\t\t\"auto_config\": true, \t\t\t\"on_the_fly_enable\": true, \t\t\t\"output_data_rate_101_active\": 1, \t\t\t\"output_data_rate_101\": 10 \t\t} \t} }",
        "payloadType": "json",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "a777bc12f7aa77f0",
                "cd7956a7f56a43cf"
            ]
        ]
    },
    {
        "id": "df5d4c9e8b15c5a6",
        "type": "inject",
        "z": "9127257aec25aaea",
        "name": "Disable Configs",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Test conf",
        "payload": "{   \"00:13:a2:00:41:f0:42:b4\": {     \"desired_configs\": {       \"auto_config\": false,       \"on_the_fly_enable\": false     }   },   \"00:13:a2:00:41:f0:42:b3\": {     \"desired_configs\": {       \"auto_config\": false,       \"on_the_fly_enable\": false     }   } }",
        "payloadType": "json",
        "x": 200,
        "y": 180,
        "wires": [
            [
                "a777bc12f7aa77f0",
                "cd7956a7f56a43cf"
            ]
        ]
    },
    {
        "id": "66c3b5fca8d3e343",
        "type": "comment",
        "z": "9127257aec25aaea",
        "name": "These sensor devices will change when the flow data goes into the Update Flow node",
        "info": "",
        "x": 320,
        "y": 380,
        "wires": []
    },
    {
        "id": "46ba10ebf8a270d3",
        "type": "comment",
        "z": "9127257aec25aaea",
        "name": "These inject nodes will send the desired configs out over MQTT",
        "info": "",
        "x": 330,
        "y": 600,
        "wires": []
    },
    {
        "id": "7426da7c2dd7d0d0",
        "type": "ncd-gateway-config",
        "name": "",
        "comm_type": "serial",
        "ip_address": "",
        "tcp_port": "2101",
        "port": "/dev/tty.usbserial-AC67EXDX",
        "baudRate": "115200",
        "pan_id": "7fff",
        "rssi": true
    }
]